# Python
__pycache__/
*.pyc
*.pyo
results/
Data/

# Ignore "outputs", "outputs_1", "outputs_123", etc. at ANY depth
outputs*/

*.md
!README.md

*.txt
*.csv
*.pkl
*.pt
*.png
*.pdf
*.svg
*.eps
*.tex
*.log
*.err
*.out
